.main {
    width: 1140px;
  }
  
  .news__container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .news__image {
    width: 30%;
    margin-right: 30px;
  }
  
  .news__title,
  .news__category {
    margin-bottom: 20px;
  }

  